{% extends 'blog_app/base.html' %}

{% block main_content %}
    <div class="article-form">
        <h1>New article</h1>
        <form method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            <div class="reading-container">
                {{ form.non_field_errors }}
                <div class="header">
                    <div class="form-l-i">
                        {{form.title.errors}}
                        <label for="{{form.title.id_for_label}}">Title:</label>
                        {{form.title}}
                    </div>
                </div>

                <div class="form-l-i">
                    {{form.content.errors}}
                    <label for="{{form.content.id_for_label}}">Content:</label>
                    <!--<div class="editable medium-editor-element medium-editor-placeholder"
                        id="medium-editor-1589876169249" name="content" cols="40" rows="80" required=""
                        medium-editor-textarea-id="medium-editor-1589876169249" contenteditable="true"
                        spellcheck="true" data-medium-editor-element="true" role="textbox" aria-multiline="true"
                        data-medium-editor-editor-index="1"
                        medium-editor-index="1009285b-4207-b04f-b361-e3c0e2206edc"
                        data-placeholder="Start writing..."></div>-->
                    {{form.content}}

                </div>


            </div>

            <!-- ====== Sidebar ==================-->
            <div class="sidebar article-form">
                <div class="form-l-i">
                    {{form.image.errors}}
                    <label for="{{form.image.id_for_label}}">Image:</label>
                    {{form.image}}
                </div>
                <div class="sub-header">
                    <div class="form-l-i">
                        {{form.author.errors}}
                        <label for="{{form.author.id_for_label}}">Author:</label>
                        {{form.author}}
                    </div>
                    <div class="form-l-i">
                        {{form.category.errors}}
                        <label for="{{form.category.id_for_label}}">Category:</label>
                        {{form.category}}
                    </div>
                </div>
                <div class="tag form-l-i">
                    {{form.tag.errors}}
                    <label for="{{form.tag.id_for_label}}">Tag:</label>
                    {{form.tag}}
                </div>
                <div class="pin form-l-i">
                    {{form.pin.errors}}
                    <label for="{{form.pi.id_for_label}}">Pin:</label>
                    {{form.pin}}
                    <span class="checkmark"></span>
                </div>
               <input class="btn btn-primary btn-large" type="submit" value="Create Draft" /> <!-- percbè uil resto del sito è in inglese, gay --> 
            </div>
            
        </form>
    </div>
<script>var editor = new MediumEditor('.editable');</script>
{% endblock %}