{% extends 'blog_app/base.html' %} {% block main_content %}

<div class="reading-container">
  <div class="header-reading">
    <div class="title">
      <h1>
        {{article.title}}
      </h1>
    </div>
    <div class="sub-header">
      <div class="category-avatar">
        <a href="{% url 'blog_app:category_list' article.category.cat_name %}" class="category-name">
          <img
            src="{% if article.category.image %}{{article.category.image.url}}{% endif %}"
            alt="{{article.category}} category"
            class="avatar"
          />
        </a>
      </div>
      <div class="category-name-area">
        <a href="{% url 'blog_app:category_list' article.category.cat_name %}" class="category-name">{{article.category}}</a>
      </div>
    </div>
    <div class="sub-header-date">
      {% if article.pub_date %}
      <time datetime="202-04-24">
        {{article.pub_date|date:"D M Y"}}
      </time>
      {% else %}
      <a class="btn btn-text-primary" href="{% url 'blog_app:article_publish' pk=article.pk %}">
        Publish
      </a>
      {% endif %}
      <!-- TODO Aggiungere tempo di lettura nel modello -->
      <span class="time-reading">&triangleright; 10 minuti di lettura</span>
    </div>
  </div>
  <div class="image-reading">
    {% if article.image %}
    <img src="{{article.image.url}}" />
    {% endif %}
  </div>
  <div class="content">
    {{article.content|safe|linebreaksbr}}
  </div>
  <div class="content">

    {% if user.is_authenticated %}
    <div class="content article-mod">
      <a class="btn btn-accent-text btn-small" href="{% url 'blog_app:article_edit' pk=article.pk %}" >Edit</a>
      <a class="btn btn-warning-text btn-small" href="{% url 'blog_app:article_remove' pk=article.pk %}" >Remove</a>
    </div>

    {% endif %}

    
    {% if user.is_authenticated %}
    <a href="{% url 'blog_app:add_comment_to_article' pk=article.pk %}" class="btn btn-accent btn-large">Add Comment</a>
    {% endif %}
  </div>
  <div class="content">
    {% for comment in article.comments.all %}
    
      <div class="comment">
        {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment-date">
         {{comment.create_date}}
        </div>
         {% if not comment.approved_comment %}
       
        <div class="content comment-edit">
          <a class="btn btn-accent-text btn-small" href="{% url 'blog_app:comment_approve' pk=comment.pk %}">Approve</a>
          <a class="btn btn-warning-text btn-small" href="{% url 'blog_app:comment_remove' pk=comment.pk %}">Remove</a>
        </div>
        {% endif %}
        <div class="comment-cont-auth">
        <div class="comment-text" >
          {{comment.text|safe|linebreaks}}
          
        </div>
        <div class="comment-author">
          <p> Posted By: {{comment.author}}</p>
        </div>
          
        </div>


       {% endif %}

    
      </div>
      {% empty %}
      <p>No Comments</p>

    {% endfor %}
  </div>
</div>

{% endblock %}
