{% extends 'blog_app/base.html' %}


{% block main_contnent %}
<div class="main">

    <!-- ======================= end Top News ================== -->
    <div class="news-container">
        <div class="news-filter">
            <ul>
                <li>
                    <a href="#" class="filter">Recenti</a>
                </li>
                <li>
                    <a href="#" class="filter">Popolari</a>
                </li>
            </ul>
        </div>

        <!-- ================== News Deck ======================== -->
        
        <div class="news-deck">
            {% for article in article_list %}
                <div class="card">
                    <div class="image-data">
                        <div class="background-image" style="  background: url({{article.image.url}}) no-repeat center; background-size: cover;"></div>
                        <div class="publication-details">
                            <span class="date">{{article.pub_date|date:"D M Y"}}</span>
                            <span class="time-reading">10 minuti di lettura</span>
                        </div>
                    </div>
                    <div class="post-data">
                        <h3 class="title"><a href="{% url 'blog_app:article_detail' pk=article.pk %}">{{article.title}}</a> </h3>
                        <p class="description">
                            {{article.content|truncatechars:200}}
                        </p>
                        <div class="category">
                            <h4>
                                <a href=#"">{{article.category}}</a>
                            </h4>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            
            
        </div>
        <!-- ================== end News Deck ======================== -->
    </div>
</div>
{% endblock %}