/* * ====================== COMMON ========================= */

/* font-family: 'Ubuntu', sans-serif;
font-family: 'Galdeano', sans-serif;
font-family: 'Mrs Sheppards', cursive; */

html {
  height: 100%;
}



body {
  background-color: #292930;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
  color: #ececec;
  margin: 0;
  padding: 0;
}

a:hover {
  background: none;
  color: #e5c382;
}


label {
  margin: 0;
}


/** ============================= Login page ==========================*/

.pglist-box h2,
.pglist-box h1,
.login-box h2,
.login-box h1 {
  margin: 0 0 30px;
  padding: 0;
  color: #ececec;
  text-align: center;
}

.pglist-box p,
.login-box p {
  margin: 0 0 30px;
  padding: 0;
  color: #ececec;
  text-align: center;
}

.pglist-box a,
.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f2a365;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  /* margin-top: 40px; */
  letter-spacing: 4px;
  background: none;
  border: none;
}

.pglist-box .btn-splendente,
.login-box form button {
  margin-top: 40px;
}

.pglist-box .btn-splendente:hover,
.login-box button:hover {
  background: #f2a365;
  color: #ececec;
  border-radius: 5px;
  box-shadow: 0 0 5px #f2a365, 0 0 25px #f2a365, 0 0 50px #f2a365,
    0 0 100px #03e9f4;
}

.pglist-box a span,
.login-box button span {
  position: absolute;
  display: block;
}

.pglist-box a span:nth-child(1),
.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fdd998);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}



.pglist-box a span:nth-child(2),
.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #e5c382);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}


@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.pglist-box a span:nth-child(3),
.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #dfbd7e);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.pglist-box a span:nth-child(4),
.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fdf398);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}


@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

/* * ========================= LOGIN BOX ================================= */

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(34, 40, 49);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(34, 40, 49, 0.6);
  border-radius: 10px;
}


.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #ececec;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #ececec;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #ececec;
  pointer-events: none;
  transition: 0.5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
  top: -20px;
  left: 0;
  color: #f2a365;
  font-size: 12px;
}




/* * ================= INTERFACE PAGE ========================== */

/* * ================= Char LIST BOX =========================== */

.body-psl-dark {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url("../img/list_background.png");
  background-size: cover;
  background-attachment: fixed;
}

.pglist-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  padding: 40px;
  transform: translate(-50%, -40%);
  background: rgba(34, 40, 49);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(34, 40, 49, 0.6);
  border-radius: 10px;
}




.pglist-box .char-list-name {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ececec;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
  /* margin-top: 40px; */
  letter-spacing: 4px;
  background: none;
  border: none;
}

.pglist-box .char-list-name:hover {
  background: none;
  color: #e5c382;

}

.pglist-box .btn-delete {
  text-transform: none;
  color: #30475e;
}


.pglist-box a:hover {
  background: #f2a365;
  color: #ececec;
  border-radius: 5px;
  /* box-shadow: 0 0 5px #f2a365, 0 0 25px #f2a365, 0 0 50px #f2a365,
    0 0 100px #03e9f4; */
}




/* * ====================== HEADER ========================= */

.navbar {
  padding: 0;
}

.navbar-brand input {
  font-family: 'Mrs Sheppards', cursive;
  font-size: 2rem;
  padding: 0 1rem;
  background-color: transparent;
  border: none;
  color: #ececec;
}

.nav-item input {
  background-color: transparent;
  border: none;
  color: #ececec;
  margin: auto;
  width: auto;
}



.img-character img {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #d2a055;
}



/* * ====================== PROFILE SECTION ========================= */

.abilities-list li {
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Galdeano', sans-serif;
}

.abilities-list {
  margin: 5%;
  padding: 0;
}

.abilities.left {
  margin: 0;
  padding: 0 2% 0 4%;
}

.abilities.right {
  margin: 0;
  padding: 0 4% 0 2%;
}

.abilities li {
  background: rgba(34, 40, 49);
  ;
  border-radius: 5px;
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 0.5rem;
  margin: 0 0 15% 0;
}

.abilities li span {
  display: block;
  text-align: center;
}

.abilities li span.ability {
  font-size: 11px;
  line-height: 12px;
  background: rgba(48, 71, 94, 0.4);
  padding: 5% 0;
  border-radius: 0 0 5px 5px;
}

.abilities li span.ability-rose {
  background-color: #612f2f;
  border-radius: 0 0 5px 5px;
  color: #fff;
  /* font-weight: 700; */
}

.abilities li span.hitDice {
  background-color: #612f2f;

}

.abilities li span.score.hitDice {
  border-radius: 5px 5px 0 0;
}

.abilities li span.ability.hitDice {
  /* color: #000; */
  /* font-weight: 800; */
}

.score-and-mod {
  clear: both;
  display: inline;
}

.abilities li div.score input,
.abilities li span.score input {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ececec;
  font-size: 24px;
  font-weight: 600;
  /* margin-top: 5px; */
}

.abilities li span.score input {
  display: inline-block;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ececec;
  font-size: 24px;
  font-weight: 600;
  margin-top: 1%;
}

.abilities li span.score.hitDice input {
  color: #fff;
}

.abilities li div.mod input {
  display: inline-block;
  color: #ececec;
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 12px;
  font-weight: 600;
}

.abilities ul li .ability input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border: 2px solid #f2a365;
  border-radius: 10px;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

ul.abilities-list li span.ability input[type='checkbox']:checked {
  background-color: #f2a365;
}

.profbonus-bar {
  /* background-color: #f2a365; */
  /* border-radius: 10px; */
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  text-align: center;
  border-bottom: 2px solid #f2a365;

}

.profbonus-bar label {
  color: #ececec;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  /* border-top: 1px solid #0c1a4a; */
}

.profbonus-bar input {
  color: #ececec;
  width: 20%;
  text-align: center;
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  /* border-top: 1px solid #0c1a4a; */
}

.hp-bar input {
  text-align: center;
  background-color: transparent;
  border: none;
  color: #ececec;
  font-weight: 500;
  width: 30%;
}

.hp-bar label {}

/* * ====================== MAP SECTION ========================= */

.maps-container {
  border-radius: 5px;
  background: url('../static/img/img-centrale.jpg');
  background-position: center;
  height: 94%;
}

.hp-bar {
  background-color: #4d8855;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;

}

#little-bar {
  position: relative;
  left: 50%;
  top: 3%;
  background: rgba(34, 40, 49);
  width: 100px;
  border-radius: 5px;

}

#little-bar ul li.little-bar-button {
  padding: 3px;
  margin: 0;
  border-left: 1px solid #f2a365;
  display: inline-block;
  text-align: center;
  line-height: 22px;
  font-size: 22px;
  color: #ececec;
  position: relative;
}

#little-bar i {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

#little-bar ul {
  margin: 0;
  padding: 0;
}


/* * ======================= INFO SECTION =================== */

.info-section {
  background: rgba(34, 40, 49);
  ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 100%;
  height: 100%;
  padding: 5%;
}

/* * ========================MODAL=========================*/
.modal-content {
  background: rgba(34, 40, 49);
  ;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-content .money li {
  color: #ececec;
  display: inline-block;
  width: 18%;
  text-align: center;
}

.modal-content .money ul {
  padding: 0;
  margin-bottom: 30px;
}

.modal-content .money input {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f2a365;

}

.modal-content .money input#cp {
  color: darkgoldenrod;
}

.modal-content .money input#sp {
  color: silver;
}

.modal-content .money input#ep {
  color: teal;
}

.modal-content .money input#gp {
  color: gold;
}

.modal-content .money input#pp {
  color: paleturquoise;
}

.modal-content textarea {
  width: 93%;
  background-color: transparent;
  border-color: #d2a055;
  padding: 10px;
  color: #ececec;
}


/* * ====================== FOOTER ========================= */

/* * ====================== ANIMATION ========================= */