@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'DM Mono', monospace;
font-family: 'Montserrat', sans-serif; */

:root {
  --text: rgb(27, 27, 27);
  --white: #fff;
  --grey: #ececec;
  --grey2: #dfdede;
  --grey3: rgb(129, 129, 129);
  --azzurro: #cbe7ff;
  --azzurro2: rgba(56, 153, 209, 0.7);
  --azzurro3: #1797ff;
  --azzurro4: #1771ff;
  --azzurro5: #0a43a0;
  --accent: #ff9a17;
  --gradient-azzurro: linear-gradient(200deg, #1771ff, rgba(56, 153, 209, 0.7));
  --gradient-white: linear-gradient(200deg, #fff, #cbe7ff);
  --top-title: #1771ff;
  --top-title2: #ececec;
  --top-title-hover: #fff;
  --footer: #1771ff;
}

/* TODO trovare la giusta palette */
.dark {
  --text: #ececec;
  --white: rgb(9, 15, 42);
  --grey: #0e1a3b;
  --grey2: #0e4270;
  --azzurro: #0e4270;
  --azzurro2: rgba(23, 61, 83, 0.7);
  --azzurro3: #6096c2;
  --azzurro4: #4975b4;
  --azzurro5: #b2c9f0;
  --accent: #f717ff;
  --gradient-azzurro: linear-gradient(
    200deg,
    rgb(9, 15, 42),
    rgba(23, 61, 83, 0.7)
  );
  --gradient-white: linear-gradient(200deg, #0e1a3b, #0e4270);
  --top-title: #a9caff;
  --top-title2: #a9caff;
  --top-title-hover: cyan;
  --footer: #0e1a3b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  background-color: var(--grey);
}

p {
  color: var(--text);
}

::selection {
  background: var(--accent);
}

.container {
  min-height: 88.4vh;
  padding: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.open {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: var(--text);
}

a:hover {
  color: var(--top-title-hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Mono", monospace;
  color: var(--text);
}

h2 {
  font-weight: 400;
  font-size: 3rem;
}

h3 {
  font-weight: 500;
}

.btn {
  font-family: "Montserrat";
  font-weight: 600;
  letter-spacing: 0.1em;
  border: none;
  cursor: pointer;
  color: #fff;

}

.btn-accent:hover {
  background: var(--azzurro3);
  box-shadow: none;
}

.btn-accent {
  background: var(--accent);
  border-radius: 0.5em;
}

.btn-primary {
  background: var(--azzurro4);
}

.btn-warning {
  border: 2px solid #b62d2d;
  color: var(--text);
  border-radius: 0.5em;
}

.btn-warning:hover {
  background: #b62d2d;
  color: #fff;
}

.btn-accent-outline {
  border: 2px solid var(--accent);
  color: var(--text);
  border-radius: 0.5em;
}

.btn-accent-outline:hover {
  background: var(--accent);
  border: 2px solid var(--accent);
  color: #fff;
}

.btn-small {
  font-size: 1.2rem;
  padding: 0.5em 0.5em;
}

.btn-large {
  font-size: 1.2rem;
  padding: 1em 1.5em;
  border-radius: 0.5em;
}

.btn-text-primary{
  padding-left: 6px;
  background: var(--gradient-azzurro);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid var(--azzurro4);
}

.btn-text-primary:hover{
background: var(--gradient-azzurro);
color: #fff;
-webkit-text-fill-color: initial;
border: 1px solid var(--azzurro4);
}

.btn-accent-text{
color: var(--accent);
}

.btn-accent-text:hover{
  color: var(--azzurro4);
}

.btn-warning-text{
  color: #b62d2d;
}
.btn-warning-text:hover{
  /* color: #fff;
  background: #b62d2d;
  border-radius: 10px; */
  color: var(--azzurro4);
}

.content {
  margin-bottom: 3rem;
}

/* * ---- TOP BAR ------- */

.navbar {
  font-family: "DM Mono", monospace;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  background-color: var(--white);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar .navbar-brand {
  text-decoration: none;
  color: var(--accent);
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: var(--azzurro4);
  text-transform: uppercase;
  font-weight: 500;
}

/* ---- end TOP BAR ------- */

/* * ----- TOP NEWS -------- */
.wrapper {
  display: block;
  padding: 10rem 0;
  height: 100%;
}

.top-news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 50%), 1fr));
  grid-template-rows: minmax(5rem, auto);
  gap: 1.6rem;
  padding-bottom: 3.2rem;
}

.top-news-container > .top-news {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--grey);
  padding: 20px;
  border-radius: 10px;
  background: var(--gradient-azzurro);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: auto;
  min-height: 150px;
  transition: all 650ms;
}

.top-news-container .top-news:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px 0 hsla(0, 0%, 0%, 0.2);
}

.top-news-container .top-news:first-child {
  color: var(--azzurro4);
  background: var(--gradient-white);
}

.top-news-container .top-news:first-child .top-news-title h2 a {
  color: var(--top-title);
}

.top-news-container .top-news .top-news-title .top-news-subhead {
  text-align: right;
}

.top-news-container .top-news .top-news-title .top-news-subhead > time {
  color: var(--azzurro);
  font-size: 1.2rem;
}

.top-news-container
  .top-news:first-child
  .top-news-title
  .top-news-subhead
  time {
  color: hsl(0, 0%, 51%);
}

.top-news-container .top-news .top-news-meta .top-news-byline {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.top-news-container
  .top-news
  .top-news-meta
  .top-news-byline
  .category-name-area {
  justify-self: start;
}

.top-news-container .top-news .top-news-title h2 {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.top-news-container .top-news .top-news-title h2 a {
  text-decoration: none;
  color: var(--top-title2);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.top-news-container .top-news .top-news-title h2 a:hover {
  color: var(--top-title-hover);
}

.top-news-container .top-news:first-child .top-news-title h2 a:hover {
  color: var(--azzurro3);
}

.top-news-container .top-news .top-news-meta {
  margin-top: auto;
}

.top-news-container
  .top-news
  .top-news-meta
  .top-news-byline
  .category-avatar
  img {
  border-radius: 50%;
  height: 40px;
  border: 2px solid var(--white);
}

.top-news-container .top-news .top-news-meta .top-news-byline a {
  font-weight: 500;
  text-decoration: none;
  color: var(--white);
  font-size: 1.4rem;
}

.top-news-container .top-news:first-child .top-news-meta .top-news-byline a {
  font-weight: 500;
  text-decoration: none;
  color: var(--azzurro4);
  font-size: 1.4rem;
}

/* ----- end TOP NEWS -------- */

/* * ------- SIDEBAR ------------ */

/* ! SEE MEDIA QUERIES */

/* ------- end SIDEBAR ------------ */

/* * ----- DECK ------------------ */
.news-container .news-filter {
  padding: 2em 0;
  margin-bottom: 2rem;

}

.news-filter > h1 {
  font-style: 'Montserrat';
}

.news-filter  span {
  text-transform: uppercase;
  color: var(--text);
}

.news-container .news-filter ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.news-container .news-filter li {
  padding-left: 1.6rem;
}

.news-container .news-filter a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--azzurro3);
  font-size: 1.3rem;
  font-weight: bold;
}

.news-container .news-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- end DECK -------------- */

/* * CARD NEWS*/

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 0 6px 10px 1px hsla(0, 0%, 0%, 0.2);
  margin-bottom: 3rem;
  min-width: 100%;
}

.image-data {
  height: 25rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 5s;
}

.card:hover .background-image {
  transform: scale(1.5);
}

.publication-details {
  width: 100%;
  height: 100%;
  background: var(--gradient-azzurro);
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--azzurro);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.card .publication-details .date {
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: all 0.5s;
}

.card .publication-details .time-reading {
  display: block;
}

.card .post-data {
  background-color: var(--white);
  padding: 2rem 3rem;
  position: relative;
}

.card .title {
  font-size: 2.2rem;
  line-height: 1;
  margin: 0 0 2rem 0;
}

.card .title a {
  color: var(--azzurro4);
}

.card .description {
  position: relative;
  color: var(--text);
}

.card .description::first-letter {
  margin-left: 1rem;
}

.card .description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 2rem;
  background: var(--gradient-azzurro);
  border-radius: 2rem;
}

.card .category {
  text-align: right;
  font-weight: 500;
  margin-top: 1rem;
}

.card .category a {
  background: var(--gradient-azzurro);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.card .category a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--gradient-azzurro);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.card .category a:hover::before {
  transform: scaleX(1);
}

/* end CARD NEWS */

/* * Article Reading */

.reading-container {
  margin: 0 auto;
  display: block;
  padding: 2rem 2rem;
}

.header-reading {
  padding-bottom: 5rem;
}

.header-reading h1 {
  font-weight: 400;
  color: var(--text);
}

.header-reading .sub-header {
  display: flex;
  align-items: center;
  margin: 2rem 3rem 2rem 0;
}

.sub-header img {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid var(--white);
  margin-right: 2rem;
}

.sub-header .category-name {
  font-weight: 500;
  color: var(--top-title);
}

.sub-header-date {
  color: var(--grey3);
}

.image-reading {
  position: relative;
  overflow: hidden;
  margin-bottom: 5rem;
}

.image-reading img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms ease 0s;
}

/* end Article Reading */

/* * ------ FOOTER ------------ */

footer {
  text-align: center;
  bottom: 0;
  background: var(--footer);
  color: var(--grey);
  font-weight: 500;
}

.copyright {
  position: relative;
  bottom: 0;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background: var(--gradient-white);
  bottom: 1.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: var(--azzurro5);
  font-size: 2rem;
  margin: auto;
}

.copyright p {
  font-size: 1.4rem;
}

.theme-toggler {
  position: absolute;
  width: 5rem;
  height: 5rem;
  left: 2rem;
  bottom: 1.5rem;
}

.theme-toggler li {
  position: relative;
  list-style: none;
  display: inline-flex;
  margin: 0 10px;
  height: 5rem;
  width: 5rem;
  background: var(--footer);
  border-radius: 50%;
  cursor: pointer;
  box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
    2px 2px 6px rgba(0, 0, 0, 0.8);
}

.theme-toggler li.active::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 3.4rem;
  width: 3.4rem;
  background: var(--footer);
  border-radius: 50%;

  box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.8);
}

.theme-toggler li a {
  z-index: 2;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  line-height: 5rem;
  color: var(--azzurro2);
}

.theme-toggler li.active a {
  color: cyan;
  font-size: 1.8rem;
}

/* ------ FOOTER ------------ */

/**Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #0b3983fd;
  }

  70% {
    box-shadow: 0 0 0 2rem #0b398300;
  }

  100% {
    box-shadow: 0 0 0 0 #0b398300;
  }
}

/*End animations*/

/* * ========= MEDIA QUERIES ============= */

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1.6rem 3.2rem;
  }

  .navbar .navbar-toggler {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
  }

  .navbar .navbar-toggler .bar {
    height: 2px;
    width: 100%;
    background-color: var(--azzurro4);
    border-radius: 1.2rem;
  }

  .bar.start {
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.start {
    transform: rotate(45deg);
    background: var(--grey);
  }

  .bar.end {
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.end {
    transform: rotate(-45deg);
    background: var(--grey);
  }

  .bar.middle {
    transition: all 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.middle {
    transform: translateX(5rem);
    background: var(--grey);
  }

  .navbar-nav {
    position: fixed;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    z-index: 50;
    background: var(--gradient-azzurro);
    transition: all 1s cubic-bezier(1, 0, 0, 1);
  }

  .navbar-nav.open {
    top: 0;
  }

  .navbar .nav-item {
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  }

  .navbar .nav-link {
    color: var(--white);
    font-size: 3.2rem;
  }

  .navbar .nav-item:hover {
    transform: translateX(1.6rem);
  }

  .top-news-container .top-news-subhead {
    display: none;
  }

  .top-news-container .top-news .top-news-title h2 {
    font-size: 1.5rem;
  }

  .sidebar {
    display: none;
  }

  .reading-container {
    width: 90%;
  }

  .image-reading {
    height: 20rem;
  }

  footer {
    padding: 10rem 1rem 2rem 1rem;
  }

  .up {
    top: 2rem;
  }

  .theme-toggler {
    top: 2rem;
  }
}

@media screen and (min-width: 769px) {
  .container {
    padding: 0 9rem;
  }

  .navbar {
    align-items: center;
    padding: 2rem 9rem;
  }

  .navbar-nav {
    margin-left: auto;
    display: flex;
    list-style: none;
  }

  .nav-item {
    padding-left: 2rem;
  }

  .navbar-nav .nav-link {
    padding-bottom: 1.8rem;
  }

  .navbar-nav .nav-link:hover {
    border-bottom: 3px solid var(--accent);
  }

  .top-news-container .top-news .top-news-title h2 {
    font-size: 2rem;
  }

  .card {
    flex-direction: row;
    max-width: 75rem;

    min-height: 20rem;
  }

  .image-data {
    flex-basis: 40%;
    height: unset;
  }

  .publication-details {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card:hover .publication-details {
    opacity: 1;
  }

  .card .publication-details .date {
    transform: translateY(-3rem);
    opacity: 0;
    transition-delay: 0.3s;
  }

  .card .time-reading {
    transform: translateY(3rem);
    opacity: 0;
    transition: all 0.5s 0.3s;
  }

  .card:hover .date,
  .card:hover .time-reading {
    transform: translateY(0);
    opacity: 1;
  }

  .post-data {
    flex-basis: 60%;
  }

  .image-reading {
    height: 35rem;
  }

  .reading-container {
    width: 80%;
  }

  footer {
    padding: 3rem;
  }
}

@media screen and (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 4rem;
  }

  .sidebar {
    width: 100%;
    padding: 1.6rem;
    margin-top: 11rem;
  }

  .search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.6rem;
  }

  .search-section form {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .searchIcon {
    cursor: pointer;
  }

  .searchIcon svg {
    margin: 0 1rem 0 1.5rem;
    color: var(--grey2);
  }

  .sidebar input[type="text"] {
    background: none;
    height: 40px;
    border-style: none;
  }

  .sidebar-title h4 {
    padding: 0 0.5rem 1rem 0;
    position: relative;
    font-weight: 500;
    color: var(--top-title);
  }

  .sidebar-title {
    border-bottom: 1px solid var(--grey2);
  }

  .tags-section {
    display: flex;
    padding: 1rem;
    width: 100%;
    flex-wrap: wrap;
  }

  .tag {
    padding: 1rem;
  }

  .tag a {
    font-weight: 500;
  }

  .tag a:hover {
    color: var(--top-title);
  }
}

@media screen and (min-width: 1024px) {
  .reading-container {
    width: 60%;
  }
}

/* ! Che casino sti CSS, ottimizzati zero */

.article-form {
  padding: 2em 0;
}

.article-form form {
  display: grid;
  grid-template-columns: 4fr 1fr;

  justify-items: center;
}

.article-form label {
  font-weight: 600;
  border: none;
  color: var(--text);
}



.form-l-i {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
}

.form-l-i > label {
  margin-bottom: 1em;
  font-weight: 600;
  border: none;
  color: var(--text);
}

.pin.form-l-i label {
  margin-bottom: 0;
}

.form-l-i > select {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--azzurro4);
  color: var(--text);
}

.article-form #id_title {
  font-family: "DM Mono", monospace;
  color: var(--text);
  font-size: 2em;
  background: transparent;
  border: none;
}

.sidebar.article-form {
  margin: 0;
  display: initial;
  grid-column: 1/2;
  width: 100%;
}

/*  */

.pin {
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

@media screen and (min-width: 600px) {
  .sidebar.article-form {
    grid-column: 2;
    width: 60%;
    justify-self: end;
  }
}

.draft {
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  margin-bottom: 2em;
  border-radius: 10px;
  background: var(--gradient-azzurro);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: auto;
  transition: all 650ms;
}

.draft a {
  color: var(--top-title2);
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.draft a:hover {
  color: var(--top-title-hover);
}

.draft:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px 0 hsla(0, 0%, 0%, 0.2);
}

.draft-date {
  color: var(--azzurro);
  font-size: 1.2rem;
}

.comment {
  flex-direction: column;
  padding: 2em;
  margin: 2rem 0;
  background: var(--white);
}

.content.article-mod {
  text-align: right;
}

.comment-date {
  order: 1;
  margin-bottom: 0.5em;
  font-size: 1.5rem;
  color: var(--grey3);
}

.comment-cont-auth {
  order: 2;
}

.comment-edit {
  order: 3;
  justify-self: end;

}

.comment-text {
  margin-bottom: 1em;
}

.comment-author {
  font-weight: 500;
  font-size: 1.2rem;
}

.confirm-delete {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.jumbotron{
  padding: 4rem;
  font-style: "Montserrat";
}

.jumbotron h2 {
  padding: 2rem 0;
}

.jumbotron form {
  padding: 2rem 0;
}

.jumbotron form p {
  padding-bottom: 1rem;
}
