@import url("https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: 'DM Mono', monospace;
font-family: 'Montserrat', sans-serif; */

:root {
  --gradient-color: linear-gradient(200deg, #1771ff, rgba(56, 153, 209, 0.9));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100%;
  height: 100%;
  background-color: #ececec;
}

.container {
  padding: 0 2rem;
}

body.open {
  overflow: hidden;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Mono", monospace;
}

/* * ---- TOP BAR ------- */

.navbar {
  font-family: "DM Mono", monospace;
  letter-spacing: 2px;
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.navbar-nav {
  display: flex;
  list-style: none;
}

.navbar .navbar-brand {
  text-decoration: none;
  color: #ff9a17;
  text-transform: uppercase;
  font-weight: bold;
}

.navbar-nav .nav-link {
  text-decoration: none;
  color: #1771ff;
  text-transform: uppercase;
  font-weight: 500;
}

/* ---- end TOP BAR ------- */

/* * ----- TOP NEWS -------- */
.wrapper-top-news {
  padding: 10rem 0;
}

.main {
  padding: 4rem 0;
}

.top-news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(15rem, 50%), 1fr));
  grid-template-rows: minmax(5rem, auto);
  gap: 1.6rem;
  padding-bottom: 3.2rem;
}

.top-news-container > .top-news {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #ececec;
  padding: 20px;
  border-radius: 10px;
  background: var(--gradient-color);
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  width: auto;
  min-height: 150px;
  transition: all 650ms;
}

.top-news-container .top-news:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 15px 0 hsla(0, 0%, 0%, 0.2);
}

.top-news-container .top-news:first-child {
  color: #1771ff;
  background: linear-gradient(200deg, #fff, rgb(222, 235, 255));
}

.top-news-container .top-news:first-child .top-news-title h2 a {
  color: #1771ff;
}
.top-news-container .top-news .top-news-title .top-news-subhead {
  text-align: right;
}

.top-news-container .top-news .top-news-title .top-news-subhead > time {
  color: hsl(217, 100%, 90%);
  font-size: 1.2rem;
}

.top-news-container
  .top-news:first-child
  .top-news-title
  .top-news-subhead
  time {
  color: hsl(0, 0%, 51%);
}

.top-news-container .top-news .top-news-meta .top-news-byline {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
}

.top-news-container
  .top-news
  .top-news-meta
  .top-news-byline
  .category-name-area {
  justify-self: start;
}

.top-news-container .top-news .top-news-title h2 {
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.top-news-container .top-news .top-news-title h2 a {
  text-decoration: none;
  color: #ececec;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.top-news-container .top-news .top-news-title h2 a:hover {
  color: #ffffff;
}

.top-news-container .top-news:first-child .top-news-title h2 a:hover {
  color: #1797ff;
}

.top-news-container .top-news .top-news-meta {
  margin-top: auto;
}

.top-news-container
  .top-news
  .top-news-meta
  .top-news-byline
  .category-avatar
  img {
  border-radius: 50%;
  height: 40px;
  border: 2px solid #fff;
}

.top-news-container .top-news .top-news-meta .top-news-byline a {
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
}

.top-news-container .top-news:first-child .top-news-meta .top-news-byline a {
  font-weight: 500;
  text-decoration: none;
  color: #1771ff;
  font-size: 1.4rem;
}

/* ----- end TOP NEWS -------- */

/* * ------- SIDEBAR ------------ */
.sidebar {
  display: none;
  padding: 1.6rem;
  margin-top: 2rem;
}

.search-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem;
  border-left: 2px solid #1771ff;
  border-right: 2px solid #1771ff;
  border-radius: 3%;
}

/* ------- end SIDEBAR ------------ */

/* * ----- DECK ------------------ */
.news-container .news-filter {
  margin-bottom: 2rem;
}

.news-container .news-filter ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.news-container .news-filter li {
  padding-left: 1.6rem;
}

.news-container .news-filter a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1797ff;
  font-size: 1.3rem;
  font-weight: bold;
}

.news-container .news-deck {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ------- end DECK -------------- */

/* * CARD JULIO CODE TUTORIAL */

.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 6px 10px 1px hsla(0, 0%, 0%, 0.2);
}

.image-data {
  height: 25rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: transform 5s;
}

.card:hover .background-image {
  transform: scale(1.5);
}

.publication-details {
  width: 100%;
  height: 100%;
  background: var(--gradient-color);
  font-size: 1.4rem;
  font-weight: 600;
  color: #cbe7ff;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.card .publication-details .date {
  display: inline-block;
  margin-bottom: 0.5rem;
  transition: all 0.5s;
}

.card .publication-details .time-reading {
  display: block;
}

.card .post-data {
  background-color: #fff;
  padding: 2rem 3rem;
  position: relative;
}

.card .title {
  font-size: 2.2rem;
  line-height: 1;
  margin: 0 0 2rem 0;
}

.card .title a {
  color: #1771ff;
}

.card .description {
  position: relative;
}

.card .description::first-letter {
  margin-left: 1rem;
}

.card .description::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 2rem;
  background: var(--gradient-color);
  border-radius: 2rem;
}

.card .category {
  text-align: right;
  font-weight: 500;
  margin-top: 1rem;
}

.card .category a {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: relative;
}

.card .category a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--gradient-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}

.card .category a:hover::before {
  transform: scaleX(1);
}

/* end CARD JULIO CODE TUTORIAL */

/* * ------ FOOTER ------------ */
.footer {
  text-align: center;
  bottom: 0;
  padding: 1.6rem;
  background: #1771ff;
  color: #ececec;
  font-weight: 500;
}

/* ------ FOOTER ------------ */

/* * ========= MEDIA QUERIES ============= */

@media screen and (max-width: 768px) {
  .navbar {
    padding: 1.6rem 3.2rem;
  }

  .navbar .navbar-toggler {
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    width: 2.5rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
  }

  .navbar .navbar-toggler .bar {
    height: 2px;
    width: 100%;
    background-color: #1771ff;
    border-radius: 1.2rem;
  }

  .bar.start {
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.start {
    transform: rotate(45deg);
    background: #ececec;
  }

  .bar.end {
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.end {
    transform: rotate(-45deg);
    background: #ececec;
  }

  .bar.middle {
    transition: all 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  }

  .open .bar.middle {
    transform: translateX(5rem);
    background: #ececec;
  }

  .navbar-nav {
    position: fixed;
    flex-direction: column;
    align-self: center;
    justify-content: space-evenly;
    align-items: center;
    left: 0;
    width: 100vw;
    height: 100vh;
    top: -100vh;
    z-index: 50;
    background: var(--gradient-color);
    transition: all 1s cubic-bezier(1, 0, 0, 1);
  }

  .navbar-nav.open {
    top: 0;
  }

  .navbar .nav-item {
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
  }

  .navbar .nav-link {
    color: #fff;
    font-size: 3.2rem;
  }

  .navbar .nav-item:hover {
    transform: translateX(1.6rem);
  }

  .top-news-container .top-news-subhead {
    display: none;
  }

  .top-news-container .top-news .top-news-title h2 {
    font-size: 1.5rem;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .container {
    padding: 0 9rem;
  }
  .navbar {
    align-items: center;
    padding: 2rem 9rem;
  }

  .navbar-nav {
    margin-left: auto;
    display: flex;
    list-style: none;
  }

  .nav-item {
    padding-left: 2rem;
  }

  .navbar-nav .nav-link {
    padding-bottom: 1.8rem;
  }
  .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #ff9a17;
  }

  .top-news-container .top-news .top-news-title h2 {
    font-size: 2rem;
  }

  .card {
    flex-direction: row;
    max-width: 75rem;
  }

  .image-data {
    flex-basis: 40%;
    height: unset;
  }

  .publication-details {
    opacity: 0;
    transition: opacity 0.5s;
  }

  .card:hover .publication-details {
    opacity: 1;
  }

  .card .publication-details .date {
    transform: translateY(-3rem);
    opacity: 0;
    transition-delay: 0.3s;
  }

  .card .time-reading {
    transform: translateY(3rem);
    opacity: 0;
    transition: all 0.5s 0.3s;
  }

  .card:hover .date,
  .card:hover .time-reading {
    transform: translateY(0);
    opacity: 1;
  }

  .post-data {
    flex-basis: 60%;
  }
}

@media screen and (min-width: 800px) {
  .main {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 4rem;
  }
  .sidebar {
    display: unset;
  }
}
