<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margel Blog</title>
</head>

<body>
    <header>
        <!-- =================== NavBar ===================== -->
        <nav class="navbar">
            <a href="#" class="navbar-brand">Margel Blog</a>

            <button class="navbar-toggler" type="button">

            </button>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Home</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">Qualcosa</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">Contac us</a>
                </li>
                <li class="nav-item active">
                    <a href="#" class="nav-link">About us</a>
                </li>
            </ul>

        </nav>
        <!-- =============== end Navbar ==================== -->
    </header>

    <div class="wrapper">
        <!-- ================== Main ======================== -->
        <div class="main">

        </div>
        <!-- ================== end Main =================== -->

        <!-- ================== Sidebar ===================== -->
        <div class="sidebar">

        </div>
        <!-- ================== end Sidebar ================ -->

        <!-- ================== Footre ===================== -->
        <div class="footer">

        </div>
        <!-- ================== end Footer ================= -->
    </div>

</body>

</html>